@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: montserrat;
}

html{
    background-color: black;
    scroll-behavior: smooth;

}

.fondonegro{
    background-color: black;
}

.barraceleste{
    background-color: #17a3b8;
    padding-left: 10rem;
    padding-right: 10rem;
}

.fondoceleste{
    background-color: #17a3b8;
}



.titulos{
    border-bottom: 1.5px solid var(--dark);
    padding-bottom: 2rem;;
  border-color: #17a3b8;
    margin-bottom: 2rem;
}

.proporcion{
    aspect-ratio: 3/2;
}

.espaciado{
    padding-top:4rem;
    padding-bottom: 7rem;
}

.fondonegrot{
    background-color: black;
    opacity: 90%;
    transition: all 2s ease;
}

.navbar{
    padding-left: 10rem;
    padding-right: 5rem;
}

.icono{
    width: 2rem;
    position: absolute;
    left: 7rem;
}

.popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(5, 7, 12, 0.95);
    padding: 100%;
}

